.home {
  background-image: url(./home.jpeg);
  background-size: cover;
}
.schedule {
  background-image: url(./schedule.jpeg);
  background-size: cover;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome {
  background-color: rgb(43, 43, 43);
  opacity: 0.7;
  border: 1px;
}
.nav {
  background-color: rgb(43, 43, 43);
  opacity: 0.4;
  position : fixed;
  width: 100%;
}
.nav:hover{

  opacity: 0.8;
}

h2 {
  color: white;
}

.cal {
  border-width: 0;
}
